@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*  */
input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 100%;
  background: #eee;
  border-radius: 5px;
  background-image: linear-gradient(#139d52, #139d52);
  background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #139d52;
  border-radius: 50%;
  cursor: pointer;
}
